<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ inventory_hostname }}!</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
<h1>Welcome to {{ inventory_hostname }}!</h1>
<p>If you see this page, that's because a whole new world has been created<br/>
    A new fantastic point of view.</p>
<p>No one to tell us no<br/>
    Or where to go<br/>
    Or say we're only dreaming</p>

<p><em>Thank you for using CustomCloud.</em></p>
</body>
</html>